/* Style for add button */

.add-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
}



md-tabs.md-dynamic-height md-tabs-content-wrapper,
md-tab-content.md-no-scroll,
md-tab-content.md-no-scroll>div,
.no-scroll {
    height: 100%;
    overflow-y: hidden !important;
}

.scroll {
    height: 100%;
    overflow-y: auto;
}

.tab-content {
    height: calc(100% - 50px);
}

.selected {
    background: #efefef;
}

.md-button:not([disabled]).md-icon-button>md-icon:hover {
    
        display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

md-checkbox>div:hover {
   
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background: blue;
    color: white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

